@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-black text-gray-100 antialiased;
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* or width: 0px; background: transparent; */
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}